* {
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.notecard {
  background-color: rgb(250, 48, 75);
  height: 80px;
  max-height: 100px;
  width: 90%;
  margin: 0 auto;
  border: solid black 3px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  cursor: pointer;
  padding: 5px;
}

.emptyColumn {
  border: 1px black solid;
  background-color: rgb(192, 192, 192);
  float: left;
  width: 33.33%;
  height: 900px;
  padding: 10px;
}

.mainBody {
  margin: 20px;
}

.notecard:hover {
  transform: scale(1.1);
}

.boardLayout {
  width: 95%;
  margin: 0 auto;
}

.headerLayout {
  width: 95%;
  margin: 0 auto;
}

.boardInformation {
  width: 95%;
  margin: 0 auto;
}

.emptyBoards {
  border-top: solid black 0px;
  border-left: solid black 5px;
  border-right: solid black 5px;
  width: 33.33%;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0 auto;
  float: right;
  padding: 5px;
  background-color: #eef5db;

}

.headerHolder {
  border-top: solid black 5px;
  border-left: solid black 5px;
  border-right: solid black 5px;
  width: 33.33%;
  height: 100%;
  margin: 0 auto;
  float: right;
  padding: 5px;
  background-color: #eef5db;
}

.headers {
  background-color: white;
  height: 75px;
  padding: 15px;
  margin-bottom: 10px;
  color: black;
  border: solid black 3px;
}

.headers h1 {
  margin: 0 auto;
  text-align: center;
}

.popupBox {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.popupBox-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.closeButton {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 5px;
}

.closeButton:hover,
.closeButton:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.insidePopupBox {
  height: 100%;
  margin: 10px;

}

.insidePopupBox input[type=text] {
  width: 300px;
  height: 35px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.insidePopupBox textarea {
  width: 300px;
  height: 70px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  max-width: 65%;
  max-height: 100px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}